// Variable
@import 'variables';

// Fonts
section {
  overflow: hidden;
  position: relative;

  &.large-section .container {
    padding-top: 222px;
    padding-bottom: 218px;
  }

  &.navy-background {
    background-color: $navy;

    h1, h2, h3, h4, p, span, label {
      color: $cream;
    }

    .btn {
      background-color: white;
    }
  }

  &.cream-background {
    background-color: $cream;

    h1, h2, h3, h4, p, span, label {
      color: $navy;
    }
  }

  .countdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: 400 70px/80px marsha, Dosis;

    h3 {
      margin-bottom: 5px;
    }

    &div {
      width: 100px;
      height: 100px;
      margin: 0 5px;
    }
  }

  .container {
    padding-top: 132px;
    padding-bottom: 128px;
  }

  .round_block {
    margin-bottom: 50px;

    .round_image {
      width: 250px;
      height: 250px;
      display: inline-block;
      margin: 0 auto 20px;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.2);
      background-size: cover;
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    & > div {
      overflow: hidden;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40vh;
      max-height: 300px;
      flex-grow: 1;

      img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }
    }
  }


  .map {
    margin-bottom: -55px;
  }
}

h1 {
  font: 400 70px/80px marsha, Dosis;
  margin-bottom: 60px;
}

h2 {
  font: 400 70px/80px marsha, Dosis;
  margin-bottom: 60px;
}

.plane-background {
  background-image: url('/images/plane.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#photo_bianca {
  background-image: url('/images/bianca.jpg');
}
#photo_carl {
  background-image: url('/images/carl.jpeg');
}
#photo_sophie {
  background-image: url('/images/sophie.jpeg');
}
#photo_simone {
  background-image: url('/images/simone.jpg');
}
#photo_rach {
  background-image: url('/images/rach.jpg');
}
#photo_mario {
  background-image: url('/images/mario.jpg');
}
#photo_jason {
  background-image: url('/images/jason.jpeg');
}
#photo_hannah {
  background-image: url('/images/hannah.jpg');
}

.timeline {
  .timeline-box {
    width: 100%;
    .timeline-container {
      width: 100%;
      display: flex;
      justify-content: center;

      .lines {
        margin-left: 40px;
        margin-top: 10px;

        .dot {
          width: 14px;
          height: 14px;
          background: $navy;
          border-radius: 7px;
        }

        .line {
          height: 95px;
          width: 2px;
          background: $navy;
          margin-left: 6px;
        }
      }

      .cards {
        margin-left: 12px;
        transform: translateY(-50px);

        .card {
          width: 300px;
          height: 100px;
          padding-top: 25px;
          border-radius: 10px;
          margin-bottom: 10px;
          color: $navy;

          h4 {
            font-size: 20px;
            font-weight: bold;
            margin-left: 25px;
            margin-bottom: 5px;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            margin-left: 25px;
          }
        }
      }
    }
  }
}
