section {
  overflow: hidden;
  position: relative;
}
section.large-section .container {
  padding-top: 222px;
  padding-bottom: 218px;
}
section.navy-background {
  background-color: #3a3a4c;
}
section.navy-background h1, section.navy-background h2, section.navy-background h3, section.navy-background h4, section.navy-background p, section.navy-background span, section.navy-background label {
  color: #f9f0e4;
}
section.cream-background {
  background-color: #f9f0e4;
}
section.cream-background h1, section.cream-background h2, section.cream-background h3, section.cream-background h4, section.cream-background p, section.cream-background span, section.cream-background label {
  color: #3a3a4c;
}
section .countdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font: 400 70px/80px marsha, Dosis;
}
section .countdown h3 {
  margin-bottom: 5px;
}
section .countdowndiv {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}
section .container {
  padding-top: 132px;
  padding-bottom: 128px;
}
section .round_block {
  margin-bottom: 50px;
}
section .round_block .round_image {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 0 auto 20px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
}
section .grid {
  display: flex;
  flex-wrap: wrap;
}
section .grid > div {
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  max-height: 300px;
  flex-grow: 1;
}
section .grid > div img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
section .map {
  margin-bottom: -55px;
}

h1 {
  font: 400 70px/80px marsha, Dosis;
  margin-bottom: 60px;
}

h2 {
  font: 400 70px/80px marsha, Dosis;
  margin-bottom: 60px;
}

#photo_bianca {
  background-image: url("/images/bianca.jpg");
}

#photo_carl {
  background-image: url("/images/carl.jpeg");
}

#photo_simone {
  background-image: url("/images/simone.jpg");
}

#photo_rach {
  background-image: url("/images/rach.jpg");
}

#photo_mario {
  background-image: url("/images/mario.jpg");
}

#photo_jason {
  background-image: url("/images/jason.jpeg");
}

#photo_hannah {
  background-image: url("/images/hannah.jpg");
}

.timeline .timeline-box {
  width: 100%;
}
.timeline .timeline-box .timeline-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.timeline .timeline-box .timeline-container .lines {
  margin-left: 40px;
  margin-top: 10px;
}
.timeline .timeline-box .timeline-container .lines .dot {
  width: 14px;
  height: 14px;
  background: #3a3a4c;
  border-radius: 7px;
}
.timeline .timeline-box .timeline-container .lines .line {
  height: 95px;
  width: 2px;
  background: #3a3a4c;
  margin-left: 6px;
}
.timeline .timeline-box .timeline-container .cards {
  margin-left: 12px;
  transform: translateY(-50px);
}
.timeline .timeline-box .timeline-container .cards .card {
  width: 300px;
  height: 100px;
  padding-top: 25px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #3a3a4c;
}
.timeline .timeline-box .timeline-container .cards .card h4 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
  margin-bottom: 5px;
}
.timeline .timeline-box .timeline-container .cards .card p {
  font-size: 16px;
  line-height: 22px;
  margin-left: 25px;
}
